<!doctype html>
<html lang="es">
    
    <!-- Head -->
    {% include 'head.html' %}

    <body class="d-flex min-vh-100 bg-primary-subtle justify-content-center align-items-center">
        
        <!-- Navbar -->
        <main class="container p-0 m-0">
            {% block contenido %}
            {% endblock contenido %}
        </main>
        
        <!-- Bootstrap JS-->
        {% load static %}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>