{% extends 'base.html' %}

{% block contenido %}
<div class="container-fluid bg-primary-subtle rounded-bottom-3">
    <div class="container p-5">
        {% if paso == 'servicio' %}
            {% block seleccionar_servicio %}
            {% endblock seleccionar_servicio %}
        {% endif %}
        {% if paso == 'turno' %}
            {% block seleccionar_turno %}
            {% endblock seleccionar_turno %}
        {% endif %}
    </div>
</div>
{% endblock contenido %}