{% extends 'finalizar-turnos-base.html' %}

{% block seleccionar_servicio %}
        <form method="POST">
            {% csrf_token %}
            {{ form_seleccionar_servicio }}
            <div class="form-text text-danger">{{ error }}</div>         
            <button class="btn btn-primary mt-3" type="submit">Siguiente</button>
        </form>
{% endblock seleccionar_servicio %}

{% block seleccionar_turno %}
        <form method="POST">
            {% csrf_token %}
            <select name="turno" id="id_turno" class="form-select">
                {% for t in turnos %}
                    <option value="{{ t.pk }}">{{ t }}</option>
                {% endfor %}
            </select>
            <div class="form-text text-danger">{{ error }}</div>         
            <button class="btn btn-primary mt-3" type="submit">Finalizar</button>
        </form>
{% endblock seleccionar_turno %}