<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aplicación Turnero para la gestion y control de turnos para una negocios que manejan colas de clientes">
    <meta name="author" content="Ezequiel Aguilera">
    <!-- Titulo -->
    <title>{{titulo}} | Turnero</title>
    <!-- Favicon -->
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="32x32" type="image/png">
    <!-- Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a72b90b3b5.js" crossorigin="anonymous"></script>
    <!-- Stylesheets -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
