{% extends 'base.html' %}

{% block contenido %}
    <p class="display-6 text-lg-end text-center">Bienvenido {{ usuario }} <i class="fa-regular fa-face-smile-beam"></i></p>
    <p class="h2 text-center fw-light">¿Qué quieres hacer?</p>
    <div class="container py-5">
        <div class="d-flex justify-content-center justify-content-lg-evenly flex-wrap flex-lg-nowrap cards-container">
            <div class="card p-4" style="width: 18rem;">
                <i class="fa-solid fa-user-clock fa-5x text-center text-dark-emphasis"></i>
                <div class="card-body text-center">
                    <a href="{% url 'Registrar Turno' %}" class="card-text display-5 fs-2 text-decoration-none link-secondary">Registrar turnos</a>
                </div>
            </div>
            <div class="card p-4" style="width: 18rem;">
                <i class="fa-solid fa-user-xmark fa-5x text-center text-dark-emphasis"></i>
                <div class="card-body text-center">
                    <a href="{% url 'finalizarTurno_Servicio' %}" class="card-text display-5 fs-2 text-decoration-none link-secondary">Finalizar turnos</a>
                </div>
            </div>
            <div class="card p-4" style="width: 18rem;">
                <i class="fa-solid fa-display fa-5x text-center text-dark-emphasis"></i>
                <div class="card-body text-center">
                    <a href="{% url 'mostrarTurnos_Servicio' %}" class="card-text display-5 fs-2 text-decoration-none link-secondary">Mostrar turnos en pantalla</a>
                </div>
            </div>
            <div class="card p-4" style="width: 18rem;">
                <i class="fa-solid fa-screwdriver-wrench fa-5x text-center text-dark-emphasis"></i>
                <div class="card-body text-center">
                    <a href="{% url 'admin:index' %}" class="card-text display-5 fs-3 text-decoration-none link-secondary">Panel de administración</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}