{% extends 'mostrar-turnos-base.html' %}

{% block seleccionar_servicio %}
    <form method="POST">
        {% csrf_token %}
        {{ form_seleccionar_servicio }}
        <div class="form-text text-danger">{{ error }}</div>         
        <button class="btn btn-primary mt-3" type="submit">Siguiente</button>
    </form>
{% endblock seleccionar_servicio %}

{% block mostrar_turnos %}

    {% comment %} <div id="container" class="d-flex flex-column mb-3">
        {% for turno in turnos %}
            <div class="" id="turno{{ forloop.counter }}">{{ turno }}</div>
        {% endfor %}
    </div> {% endcomment %}

    <div class="container-fluid p-0 m-0 container-turnos">
        <div class="box-turno box1 bg-primary d-flex justify-content-center align-items-center">
            <p class="display-1 text-light">{{ turnos.0 }}</p>
        </div>
        <div class="box-turno box2 bg-primary d-flex justify-content-center align-items-center">
            <p class="display-1 text-light">{{ turnos.1 }}</p>
        </div>
        <div class="box-turno box3 bg-primary d-flex justify-content-center align-items-center">
            <p class="display-1 text-light">{{ turnos.2 }}</p>
        </div>
        <div class="box-turno box4 bg-primary d-flex justify-content-center align-items-center">
            <p class="display-1 text-light">{{ turnos.3 }}</p>
        </div>
        <div class="box-turno box5 bg-primary d-flex justify-content-center align-items-center">
            <p class="display-1 text-light">{{ turnos.4 }}</p>
        </div>
    </div>

    <style>
        .container-turnos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 100%;
            height: 100vh;
            grid-gap: 5px;
            grid-r
        }

        .box1 { grid-area: 1 / 1 / 5 / 3; }
        .box2 { grid-area: 1 / 3 / 2 / 5; }
        .box3 { grid-area: 2 / 3 / 3 / 5; }
        .box4 { grid-area: 3 / 3 / 4 / 5; }
        .box5 { grid-area: 4 / 3 / 5 / 5; }
    </style>

    <script>
        setInterval(function(){
            location.reload();
        }, 5000);
    </script>
{% endblock mostrar_turnos %}



