{% load static %}
<nav class="navbar navbar-expand-md bg-primary fs-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/cola.png' %}" alt="Logo Turnero" width="64" height="64" class="d-inline-block align-text-center">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}"><i class="fa-solid fa-house me-2"></i>Inicio</a>
            <a class="nav-link" href="#"><i class="fa-solid fa-user-clock me-2"></i>Turnos</a>
            <a class="nav-link" href="#"><i class="fa-solid fa-handshake-angle me-2"></i>Servicios</a>
            <a class="nav-link" href="#"><i class="fa-solid fa-briefcase me-2"></i>Empleados</a>
            <a class="nav-link" href="#"><i class="fa-solid fa-user me-2"></i>Usuarios</a>
        </div>
        </div>
    </div>
</nav>