{% extends 'base.html' %}

{% block contenido %}
<div class="container-fluid bg-primary-subtle rounded-bottom-3">
    <div class="container p-5">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}   
            <div class="form-text text-danger">{{ error }}</div>         
            <button class="btn btn-primary mt-3" type="submit">Registrar</button>
        </form>

    </div>
</div>
{% endblock contenido %}